
@import url('https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&family=Rubik+Scribble&display=swap');



body {
    margin: 0 auto;
    background-image: url(../img/ai-generated-8780255_1920.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#main {
    width: 100%;
    min-height: 1000px;

}

#header {
    width: 100%;
    height: 130px;
    background-color: white;
    display: flex;
    align-items: center;
    position: relative;
}

#zemez {
    width: 150px;
    height: 60px;
    background-color: blue;
    font-family: "Protest Guerrilla", sans-serif;
    color: white;
    letter-spacing: 4%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    font-size: 40px;
}

#header h1 i {
    color: blueviolet;
}

#header h1 {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    left: calc(50% - 50px);
}

#header2 {
    width: 100%;
    min-height: 100px;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;

}

#header2 span i {
    color: white;
    font-size: 20px;
    margin-left: -130%;
}

#header2 span {
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;

}

#header2 a {
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    margin-right: 1%;
    margin-left: 1%;
    opacity: 0.8;
}

#header2>i {
    margin-right: 1%;
    color: white;
    font-size: 20px;
    margin-left: 1%;
    opacity: 0.8;
}

#header2 p {
    color: white;
    font-size: 30px;
    margin-left: 10%;
}

#center {
    width: 100%;
    height: 350px;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#center h2 {
    position: absolute;
    top: 5%;
    left: calc(50% - 60px);
    color: white;
}
#center h1{
    position: absolute;
    top: 15%;
    left: calc(50% - 300px);
    font-size: 60px;
    font-family: "Rubik Doodle Shadow", system-ui;
    font-weight: 400;
    font-style: normal;

}

#playPauseBtn {
    border: none;
    padding: 10px;
    cursor: pointer;
    background-color: transparent;
    color: white;
    font-size: 20px;
}


#progressBar {
    width: 100%;
    margin-top: 10px;
}
.center {
    width: 100%;
    height: 390px;
    background-color: white;
    float: left;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#img{
    width: 300px;
    height: 250px;
    background-image: url(../img/dj.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
#text{
   width:40%;
   height: 250px; 
   margin-left: 30px;
   position: relative;
}
.left{
    color: blueviolet;
    opacity: 0.5;
    position: absolute;
    font-size: xx-large;
}
.right{
    color: blueviolet;
    opacity: 0.5;
    position: absolute;
    font-size: xx-large;

}
#line{
    width: 10px;
    height: 20px;
    background-color: blueviolet;
    position: absolute;
    top: -5px;
    left: calc(150px - 120px);
}
#line1{
    width: 10px;
    height: 20px;
    background-color: blueviolet;
    position: absolute;
    top: 240px;
    left: calc(150px - -90px);
}
#line2{
    width: 10px;
    height: 20px;
    background-color: blueviolet;
    position: absolute;
    top: 240px;
    left: calc(150px - -107px);
}
#div{
    width: 80%;
    height: 150px;
    background-image: url(../img/ffff.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    left: 10%;
    bottom: -340px;

    
}
.div{
    width:100% ;
    height: 150px;
    position: absolute;
    padding: 40px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.nemo{
    color: white;
    z-index: 999;
    position: absolute;
    font-size: larger;
    top: 40px;
    
}
.demo{
    color: white;
    position: absolute;
    bottom: 40px;
    left: 40px;
}
.ADI {
    color: white;
    z-index: 999;
    position: absolute;
    font-size: 40px;
    top: 40px;
    left: calc(40% - 120px);
}
.NM{
    color: white;
    z-index: 999;
    position: absolute;
    font-size: 10px;
    top: 90px;
    left: calc(40% - 110px);
}
.NM2{
    color: white;
    z-index: 999;
    position: absolute;
    font-size: 10px;
    top: 90px;
    left: calc(40% - 0px);
}
.NM3{
    color: white;
    z-index: 999;
    position: absolute;
    font-size: 10px;
    top: 90px;
    left: calc(40% - -80px);
}
.NM4{
    color: white;
    z-index: 999;
    position: absolute;
    font-size: 10px;
    top: 90px;
    left: calc(40% - -170px);
}

.ADI2 {
    color: white;
    z-index: 999;
    position: absolute;
    font-size: 40px;
    top: 40px;
    left: calc(40% - 0px);
}
.ADI3 {
    color: white;
    z-index: 999;
    position: absolute;
    font-size: 40px;
    top: 40px;
    left: calc(40% - -80px);
}
.ADI4 {
    color: white;
    z-index: 999;
    position: absolute;
    font-size: 40px;
    top: 40px;
    left: calc(40% - -170px);
}
button{
    color: white;
    width: 100px;
    height: 40px;
    padding: 10px;
    box-sizing: border-box;
    background-color: green;
    position: absolute;
    right: 40px;
}